<div
  class="w-22rem m-auto border-1 border-round-3xl shadow-3 py-2 px-2 border-primary flex flex-column justify-content-center gap-3 mt-5"
>
  @if(!noCellsRemaining() && currentCell()) {
  <h3 class="p-0 m-0 text-center">
    {{ visitedCells.length }}/{{ cells().length }}
  </h3>

  <app-cell-card
    [correctCellName]="currentCell()?.correctCellName || ''"
    [cellImageExtension]="currentCell()?.cellImageExtension || ''"
    (onValidateCell)="updateCellResponses($event)"
  />

  <div>
    <p-button
      [rounded]="true"
      severity="secondary"
      icon="pi pi-arrow-right"
      iconPos="right"
      styleClass="w-full"
      label="Próxima"
      (onClick)="nextCell()"
    />
  </div>
  } @if(noCellsRemaining()) {
  <div class="flex flex-column gap-4">
    <p-button
      styleClass="w-full"
      label="Começar novamente"
      icon="pi pi-refresh"
      iconPos="right"
      outlined
      (onClick)="clearVisitedCells()"
    />

    <p-message severity="success"
      >Finalizado! Você acertou
      <b> {{ amountCorrectCells() }} de {{ cells().length }}</b
      >!</p-message
    >

    <div class="flex flex-column">
      <div class="flex flex-column gap-2 border-top-1 border-gray-200">
        @for(cell of cellReponses(); track cell.correctCellName) {
        <div
          class="flex py-3 justify-content-between border-bottom-1 border-gray-200"
        >
          <i>{{ cell.correctCellName }}</i>
          @if(cell.rightAnswer) {
          <p-tag severity="success" value="Acertou" />
          } @else {
          <p-tag severity="danger" value="Errou" />
          }
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
