<div class="flex flex-column">
  <p-card styleClass="flex align-items-center justify-content-center mb-4">
    <p-image [src]="cellImageURL()" width="280" />
  </p-card>
  <div class="flex flex-column mb-3">
    <div class="flex justify-content-between mb-2">
      <label for="cellName">Nome da célula</label>
      <span
        class="underline text-primary cursor-pointer"
        (click)="toggleShowTip()"
        >{{ showTip() ? "Ocultar dica" : "Exibir Dica" }}</span
      >
    </div>
    <input
      type="text"
      pInputText
      [(ngModel)]="cellName"
      id="cellName"
      maxlength="50"
      [disabled]="cellNameIsSubmitted()"
      (keyup)="checkCellName($event)"
    />
  </div>

  @if(showTip()) {
  <div class="flex mb-3">
    <p-tag [value]="'Começa com: ' + initialVowelsOfCorrectCellName()" />
  </div>
  }
  <!--  -->
  @if(cellNameIsSubmitted()) {
  <div class="mb-3">
    @if(cellNameIsCorrect()) {
    <p-message severity="success"
      >Parabéns. você acertou! "<i>{{ this.correctCellName() }}</i
      >"</p-message
    >
    } @else {

    <p-message severity="error"
      >Errou, o nome correto é "<i>{{ this.correctCellName() }}</i
      >"!</p-message
    >
    }
  </div>
  }

  <p-button
    label="Verificar"
    icon="pi pi-check"
    iconPos="right"
    styleClass="w-full"
    (onClick)="checkCellName()"
    [rounded]="true"
    [disabled]="!cellName || cellNameIsSubmitted()"
  />
</div>
